<div class="w-full bg-transparent shadow-md rounded-none md:rounded-sm dark:bg-gray-800 dark:border-gray-700 min-h-[25rem] md:min-h-[16rem] flex flex-col rounded-t justify-between">

  <!-- Header -->
  <div class="w-full pt-4 pl-4">
    <% unless @preview %>
      <div class="flex justify-between items-center w-full text-sm text-gray-600 dark:text-gray-400">
        <span>
          <a href="/channel/<%= @post['channel_id'] %>" class="hover:underline hover:text-blue-500">
            <%= @post['channel_name'] || 'Unknown Channel' %>
          </a>
        </span>
        <span>
          Posted by <a href="/account/<%= @post['user_id'] %>/posts" class="hover:underline hover:text-blue-500">
            @<%= @post['username'] || 'Anonymous' %>
          </a>
        </span>
      </div>
    <% end %>

    <a href="/post/<%= @post['id'] %>" class="block">
      <h5 class="text-xl sm:text-2xl font-bold tracking-tight text-gray-900 dark:text-white mb-2 hover:text-blue-500 text-left">
        <%= @post['title'] %>
      </h5>
    </a>

    <% if @can_delete_post %>
      <form action="/post/<%= @post['id'] %>/delete" method="post" class="inline-block">
        <button type="submit" class="text-red-500 hover:text-red-700">
          <svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M3 6h18M8 6v12m4-12v12m4-12v12M5 6h14l-1 14H6L5 6zm5-3h4v2h-4V3z"/>
          </svg>
        </button>
      </form>
    <% end %>

  </div>

  <!-- Post Content -->
  <div class="p-5 pt-0 pb-1 w-full flex flex-col space-y-4 font-thin">
    <!-- Media Carousel -->
    <% if @post['media_urls'] && !@post['media_urls'].empty? %>
      <% media_items = @post['media_urls'].split(',') %>
      <div id="media-carousel-<%= @post['id'] %>" class="relative w-full max-w-4xl mx-auto" data-carousel="static">
        <div class="relative h-64 overflow-hidden rounded-lg" data-carousel-container>
          <% media_items.each_with_index do |media_url, index| %>
            <div class="<%= index == 0 ? '' : 'hidden' %> duration-700 ease-in-out" data-carousel-item>
              <% if media_url.end_with?('.mp4') %>
                <video class="w-full max-h-96 object-cover" controls>
                  <source src="<%= media_url %>" type="video/mp4">
                </video>
              <% else %>
                <button type="button" data-modal-target="image-modal-<%=@post['id']%>" data-modal-toggle="image-modal-<%=@post['id']%>" class="w-full h-full p-0 m-0 border-none">
                  <img src="<%= media_url %>" class="w-full h-64 object-contain" alt="Post media" onclick="openFullscreenModal('<%= media_url %>', '<%= @post['id'] %>')">
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
        <%if !media_items.nil?%>
          <%if media_items.length > 1%>
            <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-100/30 group-hover:bg-black/50 dark:group-hover:bg-gray-100/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-100/30 group-hover:bg-black/50 dark:group-hover:bg-gray-100/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
          <%end%>
        <%end%>
      </div>
    <% end %>

    <!-- Fullscreen Modal -->
    <%if !media_items.nil?%>
      <div id="image-modal-<%= @post['id'] %>" class="hidden fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center z-50">
        <div class="relative p-4 max-w-3xl">
          <button type="button" class="absolute top-4 right-4 text-white text-lg" data-modal-hide="image-modal-<%= @post['id'] %>">✕</button>
          <img id="fullscreen-image" src="" class="w-full h-auto max-h-screen object-contain rounded-lg">
        </div>
      </div>
    <%end%>

    <!-- Content -->
    <div class="w-full max-w-none text-left max-h-[12rem] overflow-y-auto">
      <p class="text-gray-800 dark:text-gray-300 text-sm">
        <%if @preview%>
          <%= truncate(@post['content'], length: 100) %>
        <%else%>
          <%=@post['content']%>
        <%end%>
      </p>
    </div>
  </div>

  <!-- Footer -->
  <div class="p-1 flex flex-col items-center">
    <!-- Vote | Share | Comments Count -->
    <div class="flex justify-between w-full max-w-2xl text-gray-600 dark:text-gray-400 text-xs pb-2">
      <!-- Share -->
      <div class="flex flex-col items-center font-thin">
        <button type="button" data-modal-target="popup-modal-<%=@post['id']%>" data-modal-toggle="popup-modal-<%=@post['id']%>" class="hover:text-blue-500 text-base transition-all flex flex-row gap-1 items-center dark:text-white">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M17.5 3a3.5 3.5 0 0 0-3.456 4.06L8.143 9.704a3.5 3.5 0 1 0-.01 4.6l5.91 2.65a3.5 3.5 0 1 0 .863-1.805l-5.94-2.662a3.53 3.53 0 0 0 .002-.961l5.948-2.667A3.5 3.5 0 1 0 17.5 3Z"/>
          </svg>

          Share
        </button>

          <div id="popup-modal-<%= @post['id'] %>" tabindex="-1" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
            <div class="relative p-6 bg-white rounded-lg shadow-lg dark:bg-gray-800 w-full max-w-md">
              <!-- Close Button -->
              <button type="button"
                class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"
                data-modal-hide="popup-modal-<%= @post['id'] %>">
                <svg class="w-5 h-5" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 6l8 8M6 14l8-8"></path>
                </svg>
              </button>

              <!-- Modal Content -->
              <div class="text-center">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Share this Post</h3>

                <!-- Shareable Link -->
                <div class="flex items-center justify-between rounded-lg px-1 py-1 mb-4 bg-gray-100 dark:bg-gray-700">
                  <input type="text" id="share-link-<%= @post['id'] %>" value="<%=@base_url%>/post/<%= @post['id'] %>" 
                    class="w-full bg-transparent text-gray-900 dark:text-white border-none outline-none cursor-text" readonly>
                </div>

                <div class="flex justify-center">
                  <img loading="lazy" src="/qr/<%= @post['id'] %>" alt="QR Code for Post" class="w-32 h-32">
                </div>

                <!-- Copy Button -->
                <button onclick="copyToClipboard('<%= @post['id'] %>')" 
                  class="mt-4 w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
                  Copy Link
                </button>
              </div>
            </div>
          </div>

        <span class="text-xs text-gray-500">
          <%= @shares || 0 %> Shares
        </span>
      </div>

      <!-- Upvote -->
      <div class="flex flex-col items-center font-thin">
        <form action="/post/<%= @post['id'] %>/upvote" method="post">
          <button type="submit" class="hover:text-blue-500 text-base transition-all flex flex-row gap-1 items-center <%= @user_vote == 1 ? 'text-blue-500' : 'border-gray-300 text-gray-500 dark:text-white hover:border-blue-500 hover:text-blue-500' %>">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z" clip-rule="evenodd"/>
            </svg>

            Upvote
          </button>
        </form>
        <span class="text-xs text-gray-500">
          <%= @upvote_count || 0 %> upvotes
        </span>
      </div>

      <!-- Downvote -->
      <div class="flex flex-col items-center font-thin">
        <form action="/post/<%= @post['id'] %>/downvote" method="post">
            <button type="submit" class="hover:text-blue-500 text-base transition-all flex flex-row gap-1 items-center <%= @user_vote == -1 ? 'text-blue-500' : 'border-gray-300 text-gray-500 dark:text-white hover:border-blue-500 hover:text-blue-500' %>">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M8.97 14.316H5.004c-.322 0-.64-.08-.925-.232a2.022 2.022 0 0 1-.717-.645 2.108 2.108 0 0 1-.242-1.883l2.36-7.201C5.769 3.54 5.96 3 7.365 3c2.072 0 4.276.678 6.156 1.256.473.145.925.284 1.35.404h.114v9.862a25.485 25.485 0 0 0-4.238 5.514c-.197.376-.516.67-.901.83a1.74 1.74 0 0 1-1.21.048 1.79 1.79 0 0 1-.96-.757 1.867 1.867 0 0 1-.269-1.211l1.562-4.63ZM19.822 14H17V6a2 2 0 1 1 4 0v6.823c0 .65-.527 1.177-1.177 1.177Z" clip-rule="evenodd"/>
              </svg>

              Downvote
            </button>
        </form>
        <%# <button class="hover:text-blue-500 text-base transition-all flex flex-row gap-1 items-center dark:text-white">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M8.97 14.316H5.004c-.322 0-.64-.08-.925-.232a2.022 2.022 0 0 1-.717-.645 2.108 2.108 0 0 1-.242-1.883l2.36-7.201C5.769 3.54 5.96 3 7.365 3c2.072 0 4.276.678 6.156 1.256.473.145.925.284 1.35.404h.114v9.862a25.485 25.485 0 0 0-4.238 5.514c-.197.376-.516.67-.901.83a1.74 1.74 0 0 1-1.21.048 1.79 1.79 0 0 1-.96-.757 1.867 1.867 0 0 1-.269-1.211l1.562-4.63ZM19.822 14H17V6a2 2 0 1 1 4 0v6.823c0 .65-.527 1.177-1.177 1.177Z" clip-rule="evenodd"/>
          </svg>

          Downvote
        </button> %>
        <span class="text-xs text-gray-500">
          <%= @downvote_count || 0 %> downvotes
        </span>
      </div>
    </div>
  </div>

  <!-- Comment Button -->
  <a href="/post/<%= @post['id'] %>" class="w-full font-thin text-base">
    <button class="w-full flex items-center p-2 align-middle content-center justify-center bg-gray-500 text-white rounded-b">
      <span class="flex flex-row gap-2">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h1v2a1 1 0 0 0 1.707.707L9.414 13H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M8.023 17.215c.033-.03.066-.062.098-.094L10.243 15H15a3 3 0 0 0 3-3V8h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1v2a1 1 0 0 1-1.707.707L14.586 18H9a1 1 0 0 1-.977-.785Z" clip-rule="evenodd"/>
        </svg>
        <div>
          <%= @comment_count %> 
          Comments
        </div>
      </span>
    </button>
  </a>

</div>
