<div class="w-full bg-transparent shadow-md rounded-none md:rounded-sm dark:bg-gray-800 dark:border-gray-700 min-h-[25rem] md:min-h-[16rem] flex flex-col rounded-t justify-between">

  <!-- Header -->
  <div class="w-full pt-4 pl-4">
    <% unless @preview %>
      <div class="flex justify-between items-center w-full text-sm text-gray-600 dark:text-gray-400">
        <span>
          <a href="/channel/<%= @post['channel_id'] %>" class="hover:underline hover:text-blue-500">
            <%= @post['channel_name'] || 'Unknown Channel' %>
          </a>
        </span>
        <span>
          Posted by <a href="/user/<%= @post['user_id'] %>" class="hover:underline hover:text-blue-500">
            @<%= @post['username'] || 'Anonymous' %>
          </a>
        </span>
      </div>
    <% end %>

    <a href="/post/<%= @post['id'] %>" class="block">
      <h5 class="text-xl sm:text-2xl font-bold tracking-tight text-gray-900 dark:text-white mb-2 hover:text-blue-500 text-left">
        <%= @post['title'] %>
      </h5>
    </a>
  </div>

  <!-- Post Content -->
  <div class="p-5 pb-1 w-full flex flex-col space-y-4 font-thin">
    <!-- Media Carousel -->
    <% if @post['media_urls'] && !@post['media_urls'].empty? %>
      <% media_items = @post['media_urls'].split(',') %>
      <div id="media-carousel-<%= @post['id'] %>" class="relative w-full max-w-4xl mx-auto" data-carousel="static">
        <div class="relative h-64 overflow-hidden rounded-lg" data-carousel-container>
          <% media_items.each_with_index do |media_url, index| %>
            <div class="<%= index == 0 ? '' : 'hidden' %> duration-700 ease-in-out" data-carousel-item>
              <% if media_url.end_with?('.mp4') %>
                <video class="w-full max-h-96 object-cover" controls>
                  <source src="<%= media_url %>" type="video/mp4">
                </video>
              <% else %>
                <img src="<%= media_url %>" class="w-full h-64 object-cover" alt="Post media">
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Content -->
    <div class="w-full max-w-none text-left max-h-[12rem] overflow-y-auto">
      <p class="text-gray-700 dark:text-gray-400 text-sm">
        <%= truncate(@post['content'], length: 100) %>
      </p>
    </div>
  </div>

  <!-- Footer -->
  <div class="p-1 flex flex-col items-center">
    <!-- Vote | Share | Comments Count -->
    <div class="flex justify-between w-full max-w-2xl text-gray-600 dark:text-gray-400 text-xs pb-2">
      <!-- Share -->
      <div class="flex flex-col items-center font-thin">
        <button class="hover:text-blue-500 text-base transition-all flex flex-row gap-1 items-center dark:text-white">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M17.5 3a3.5 3.5 0 0 0-3.456 4.06L8.143 9.704a3.5 3.5 0 1 0-.01 4.6l5.91 2.65a3.5 3.5 0 1 0 .863-1.805l-5.94-2.662a3.53 3.53 0 0 0 .002-.961l5.948-2.667A3.5 3.5 0 1 0 17.5 3Z"/>
          </svg>

          Share
        </button>
        <span class="text-xs text-gray-500">
          <%= @shares || 0 %> Shares
        </span>
      </div>

      <!-- Upvote -->
      <div class="flex flex-col items-center font-thin">
        <button class="hover:text-blue-500 text-base transition-all flex flex-row gap-1 items-center dark:text-white">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z" clip-rule="evenodd"/>
          </svg>

          Upvote
        </button>
        <span class="text-xs text-gray-500">
          <%= @upvotes || 0 %> upvotes
        </span>
      </div>

      <!-- Downvote -->
      <div class="flex flex-col items-center font-thin">
        <button class="hover:text-blue-500 text-base transition-all flex flex-row gap-1 items-center dark:text-white">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M8.97 14.316H5.004c-.322 0-.64-.08-.925-.232a2.022 2.022 0 0 1-.717-.645 2.108 2.108 0 0 1-.242-1.883l2.36-7.201C5.769 3.54 5.96 3 7.365 3c2.072 0 4.276.678 6.156 1.256.473.145.925.284 1.35.404h.114v9.862a25.485 25.485 0 0 0-4.238 5.514c-.197.376-.516.67-.901.83a1.74 1.74 0 0 1-1.21.048 1.79 1.79 0 0 1-.96-.757 1.867 1.867 0 0 1-.269-1.211l1.562-4.63ZM19.822 14H17V6a2 2 0 1 1 4 0v6.823c0 .65-.527 1.177-1.177 1.177Z" clip-rule="evenodd"/>
          </svg>

          Downvote
        </button>
        <span class="text-xs text-gray-500">
          <%= @downvotes || 0 %> downvotes
        </span>
      </div>
    </div>
  </div>

  <!-- Comment Button -->
  <a href="/post/<%= @post['id'] %>" class="w-full font-thin text-base">
    <button class="w-full flex items-center p-2 align-middle content-center justify-center bg-gray-500 text-white rounded-b">
      <span class="flex flex-row gap-2">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h1v2a1 1 0 0 0 1.707.707L9.414 13H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M8.023 17.215c.033-.03.066-.062.098-.094L10.243 15H15a3 3 0 0 0 3-3V8h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1v2a1 1 0 0 1-1.707.707L14.586 18H9a1 1 0 0 1-.977-.785Z" clip-rule="evenodd"/>
        </svg>
        <div>
          <%= @comment_count %> 
          Comments
        </div>
      </span>
    </button>
  </a>

</div>
