<% @current_comments.each do |comment| %>
  <div class="ml-4 mb-4 p-4 border-l-4 border-gray-300 bg-white dark:bg-gray-800 dark:border-gray-600 rounded-lg shadow-sm">
    <!-- Comment Content -->
    <div>
      <a class="font-semibold text-gray-900 dark:text-gray-200" href="/account/<%=comment["user_id"]%>"><%= comment["username"] %><a>
      <p class="text-gray-700 dark:text-gray-300"><%= comment["comment_text"] %></p>
      <p class="text-sm text-gray-500 dark:text-gray-400">Posted at: <%= comment["created_at"] %></p>
      <%= VoteComponent("/post/comments/#{comment['id']}", comment["total_votes"], comment["user_vote"]) %>
    </div>

    <!-- Add Reply Form -->
    <%= CommentFormComponent(@post, comment["id"]) %>

    <!-- Toggle Expand/Collapse Button -->
    <% if @comments[comment["id"]] %>
      <button 
        type="button"
        hx-target="next .child-comments"
        onclick="this.nextElementSibling.classList.toggle('hidden'); this.innerText = this.nextElementSibling.classList.contains('hidden') ? 'Show Replies' : 'Hide Replies';"
        class="mt-2 px-3 py-1 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline transition">
        Hide Replies
      </button>
    <% end %>

    <!-- Child Comments (Initially Visible) @current_comments.size -->
    <% if @comments[comment["id"]] && @depth < 100 %>
      <div class="child-comments mt-2">
        <%= CommentSectionComponent(@post, @comments, comment["id"], @depth + 1, 0, @limit) %>
      </div>
    <% end %>

    <!-- HTMX Button for Unloaded Comments -->
    <% if comment['has_unloaded_comments'] == 1 %>
      <button 
        hx-get="/post/<%= @post['id'] %>/comments/<%= comment['id'] %>"
        hx-target="this"
        hx-swap="outerHTML"
        class="flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 border border-gray-300 rounded-lg hover:bg-gray-300 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-600 transition">
        Load more replies
      </button>
    <% end %>
  </div>
<% end %>

<!-- Button for More Comments at Bottom -->
<% if @current_comments.size > 0 && @current_comments.last['has_more_siblings'] == 1 %>
  <%# <div class="ml-4 mb-4 p-4 border-l-4 border-gray-300 bg-white dark:bg-gray-800 dark:border-gray-600 rounded-lg shadow-sm"> %>
    <button 
      hx-get="/post/<%= @post['id'] %>/comments/<%= @parent_id.nil? ? '' : @parent_id %>?offset=<%= @offset + @current_comments.size %>&limit=<%= @limit %>"
      hx-swap="outerHTML"
      class="mt-4 px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 border border-gray-300 rounded-lg hover:bg-gray-300 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-600 transition">
      Load more comments
    </button>
  <%# </div> %>
<% end %>