<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/application.css">
    <%# <script src="/assets/flowbite.js"></script> %>
    <script type="module" src="/assets/post_modules.js" defer ></script>
    <script src="/assets/post.js"></script>
    <title><%=PROJECT_NAME%> Account</title>
</head>
<body class="bg-white dark:bg-gray-900 min-h-screen flex flex-col">
  <%= Navbar(
    path_info: request.fullpath, 
    user: @user, 
    pages: [
      (@logged_in ? ['Posts', '/posts'] : nil),
      ['Home', '/'],
      ['About', '/about'],
      ['Ads', '/ads']
    ].compact.to_h
  )%>
  <div class="max-w-6xl mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden mb-12">
    <!-- Channel Header -->
    <div class="p-6 border-b border-gray-200 dark:border-gray-700 ">
      <h1 class="text-2xl font-bold text-gray-900 dark:text-white"><%=@account_user_name%></h1>
      <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
        <% begin %>
          Created on: <%= Time.parse(@created_at).strftime('%B %d, %Y') %>
        <% rescue ArgumentError %>
          Created on: Invalid date format
        <% end %>
      </p>
    </div>
  </div>
  <%= yield %>
  <%=Footer()%>
</body>
</html>
